#_qdV4M {
  background-color: #514848;
  height: 140px;
}

#_qdV4M ._1B2qL {
  background-color: #514848;
  color: #fff;
  display: table;
  margin: 0 auto;
  padding: 53px 0 40px;
  width: 990px;
}

#_qdV4M ._1W3uT {
  display: table-cell;
  width: 168px;
  position: relative;
}

#_qdV4M ._1W3uT a {
  font: inherit;
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/accfda3f6a73576b73dc044f05aac331.svg) center no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  height: 43.3px;
  width: 131.4px;
}

#_qdV4M ._1W3uT::before {
  border-left: 1px solid #fff;
  content: '';
  height: 43.3px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
}

#_qdV4M ._36Xgk {
  display: table-cell;
  font-size: 13px;
  line-height: 18px;
  padding-left: 40px;
  position: relative;
  width: 600px;
}

#_qdV4M ._36Xgk a {
  color: #fff;
  text-align: left;
  font: inherit;
}

#_qdV4M ._36Xgk a:not(:first-child) {
  border-left: 1px solid #fff;
  padding: 0 9px;
}

#_qdV4M ._36Xgk a:first-child {
  padding-right: 9px;
}

#_qdV4M ._7vG5K {
  display: table-cell;
  white-space: nowrap;
}

#_qdV4M ._7vG5K ._1n8HS {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

#_qdV4M ._7vG5K ._2C4rE {
  font-size: 12px;
  position: absolute;
  top: -13px;
  width: 61px;
  left: -7px;
  height: 13px;
  line-height: 13px;
  text-align: justify;
  -ms-transform: scale(0.75);
      transform: scale(0.75);
}

#_qdV4M ._7vG5K ._2C4rE::after {
  content: '';
  display: inline-block;
  width: 100%;
}

#_qdV4M ._7vG5K ._11SpT {
  background-size: 44px 44px;
  display: inline-block;
  height: 44px;
  margin-top: 3px;
  width: 44px;
  text-indent: -5000px;
  /* hide inner text */
}

#_qdV4M ._7vG5K ._2WAgR {
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/4d56f9845711a9318f29a8674173e13b.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._1PYxM {
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/5e48bf6e14d2a141e5b2412782e207f7.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._13are {
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/25a80a4dd72309de0de04ee583f3fb08.svg) center no-repeat;
}

#_qdV4M ._P9DLg {
  font: inherit;
  display: block;
  margin-top: 3px;
}
