@import '../../../styles/base';

.nav-board-top-bar {
  @extend %anue-colorful-top-bar;
}

.nav-board,
.nav-board-show {
  background: $white;
  display: block;
  font-weight: 300;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 100%;
  will-change: transform, opacity;
  z-index: 10;

  header {
    position: relative;
    height: 44px;

    nav {
      height: 19px;
      position: absolute;
      left: 30px;
      top: 14px;

      > a {
        display: inline-block;
        color: $gray-1e1e1e;
        font-size: 16px;
        line-height: 1;

        &:last-child {
          position: relative;
          margin-left: 15px;

          &::before {
            content: '';
            display: block;
            width: 1px;
            height: 12.5px;
            background: #d8d8d8;
            position: absolute;
            left: -15px;
            top: 2px;
          }
        }
      }
    }
  }

  h1 {
    line-height: 1.5;
  }
}

.nav-board-show {
  /* to slide out the CatBoard */
  transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}

.cat-board-nav {
  padding: 10px 0;
  @extend %clearfix;

  a {
    color: $gray-1e1e1e;
  }
}

.nav-board-logo {
  background-size: cover;
  background: url('../../../assets/icon-anue-logo-colorful.svg') center no-repeat;
  top: 12px;
  display: inline-block;
  height: 22px;
  left: 30px;
  position: relative;
  text-indent: -5000px; /* hide inner text */
  width: 66.8px;
}

.nav-board-btn-close {
  display: block;
  width: 44px;
  height: 44px;
  background: url('../icon-close.svg') center no-repeat;
  background-size: 16px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

:global(.nav-board-subtitle) {
  font-size: 14px;
  color: $gray-f6fdff;
  line-height: 1.5;
  background: $gray-545454;
  padding-left: 30px;
  margin-bottom: 0;
}
