@import '../../styles/base';

.list-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 72px;
  background-color: $white;
  color: $gray-333;
  border: 1px solid $border-gray;
  border-width: 0 1px 0 0;
  padding-left: 18px;
  touch-action: manipulation;
  font-family: "Titillium Web", Arial, sans-serif;

  &:after {
    content: '';
    width: calc(100% - 40px);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
    position: absolute;
    border: 1px solid $border-gray;
    border-width: 0 0 1px;
  }

  h3 {
    @include text-clamp(21px, 2, $white);
    margin: 14px 24px 16px;
    letter-spacing: 0.5px;
    font-size: 15px;
    line-height: 23px;

    &:hover {
      color: $anue-red;
      cursor: pointer;
    }
  }

  span {
    position: absolute;
    left: 20px;
    top: 16px;
    width: 18px;
    height: 18px;
    display: block;
    text-align: center;
    border-radius: 50%;
    color: $gray-333;
    font-style: italic;
    font-size: 15px;
    line-height: 18px;
  }

  time {
    position: absolute;
    font-size: 14px;
    right: 24px;
    bottom: 13px;
    color: $time-gray;
    line-height: 20px;
  }
}