@import 'vars';

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

%anue-colorful-top-bar {
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    right: 0;
    left: 0;
    top: 0;
    background: linear-gradient(to right, $anue-blue 60%, $anue-red 60%, $anue-red 90%, $anue-yellow 90%);
    z-index: 2;
  }
}

%is-new-tag {
  padding-right: 45px;

  &::after {
    background-size: cover;
    background: url('../../assets/icon-new.svg') center no-repeat;
    content: '';
    display: block;
    height: 16px;
    right: 10px;
    width: 30px;
    @extend %vertical-center;
  }
}

@mixin text-clamp($line-height, $lines, $bg-color: $gray-f1f1f1) {
  position: relative;
  height: $line-height * $lines;
  display: block;
  overflow: hidden;

  &::after {
    content: '';
    text-align: right;
    bottom: 0;
    right: 0;
    width: 20%;
    display: block;
    position: absolute;
    height: $line-height;
    background: linear-gradient(to right, transparent, $bg-color 75%);
  }

  @supports (-webkit-line-clamp: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;

    &::after {
      display: none;
    }
  }
}

%text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}