@keyframes _3NB-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

._MXx3I {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.4);
  animation: _3NB-2 0.2s linear forwards;
}

._29Mdb {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background-color: #fff;
}

._29Mdb ._1y-kA {
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 13px;
  height: 13px;
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/977cc3e656d39b232ae220ae00db9b9c.svg) center no-repeat;
  background-size: 13px 13px;
  cursor: pointer;
  z-index: 999;
}
