%reset {
  font-family: "Open Sans", "Microsoft Jhenghei", "Hiragino Sans GB", "Pingfang TC", "Lantinghei TC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", "Arial", sans-serif;

  * {
    box-sizing: border-box;
    line-height: 1;
  }
}

%pageStyle {
  main {
    display: block;
    min-height: calc(100vh - 56px);
    margin: 0 auto;
    padding: 80px 0;

    @media only screen and (min-width: 1024px) {
      min-height: 0;
    }

    h2 {
      margin: 0 0 24px;
      line-height: 1;
      color: #545454;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0.5px;
    }

    p {
      margin: 0 0 32px;
      line-height: 1;
      color: #545454;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    ol, ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  form {
    max-width: 720px;
    margin: 0 auto;

    label {
      display: block;
      line-height: 1;
      color: #545454;
      font-size: 16px;
      letter-spacing: 0.5px;

      + input {
        margin-top: 16px;
      }
    }

    button {
      display: inline-block;
      width: 105px;
      height: 40px;
      line-height: 40px;
      margin-top: 40px;
      border: none;
      border-radius: 2px;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-align: center;
      cursor: pointer;

      &.button-submit {
        background-color: #cad269;
        color: #ffffff;
      }

      &.button-sm {
        width: 105px;
      }

      &.button-md {
        width: 250px;
      }
    }

    input {
      display: block;
      width: 100%;
      height: 40px;
      padding: 13px 16px;
      border: solid 1px #c0c0c0;
      border-radius: 2px;
      background-color: #ffffff;
      color: #545454;
      -webkit-appearance: none;

      &:focus {
        outline:0;
      }

      &::placeholder {
        line-height: 1;
        color: #c0c0c0;
        font-size: 14px;
        letter-spacing: 0.5px;
      }
    }

    input[type='checkbox'] {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 9px;
      padding: 0;
      border: 1px solid #c0c0c0;
      border-radius: 2px;

      &:checked {
        background: url(../../../assets/check-icon.svg) no-repeat;
        background-position: center;
      }
    }

    .form-group {
      + .form-group {
        margin-top: 32px;
      }

      .annotation {
        margin-top: 8px;
        line-height: 1;
        font-size: 14px;
        letter-spacing: 0.5px;

        a {
          color: #0c7657;
          text-decoration: none;
        }
      }
    }
  }
}
