@import '../../styles/vars';

.modal-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $blacka67;
  z-index: 99;

  .modal {
    position: absolute;
    width: 280px;
    background: $white;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 32px 0 16px;

    @media screen and (min-width: $screenSizeLg) {
      width: 343px;
    }

    .anue-line {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      display: flex;
      align-items: stretch;

      .blue {
        background-color: $anue-blue;
        flex: 6;
      }

      .red {
        background-color: $anue-red;
        flex: 3;
      }

      .yellow {
        background-color: $anue-yellow;
        flex: 1;
      }
    }
  }

  &.visible {
    transition: all 0.4s;
    opacity: 1;
    visibility: visible;

    .modal {
      transition: all 0.4s;
      top: 50%;
    }
  }

  &.invisible {
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;

    .modal {
      transition: all 0.4s;
      top: 100%;
    }
  }
}

.modal__image {
  margin-bottom: 20px;
}

.modal__title {
  width: 100%;
  height: 20px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: $gray-545454;
  margin-bottom: 16px;
}

.modal__description {
  width: 100%;
  height: 24px;
  font-size: $fontSizeMd;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  color: $gray-545454;
  margin-bottom: 32px;
}

.modal__button--minor {
  width: 116px;
  height: 40px;
  border-radius: 2px;
  border: solid 1px $anue-red;
  font-size: $fontSizeMd;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: $anue-red;
  margin-right: 16px;
  cursor: pointer;
  outline: none;

  @media screen and (min-width: $screenSizeLg) {
    width: 145px;
  }
}

.modal__button--major {
  width: 116px;
  height: 40px;
  border-radius: 2px;
  border: solid 1px $anue-red;
  background-color: $anue-red;
  font-size: $fontSizeMd;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: $white;
  cursor: pointer;
  outline: none;

  @media screen and (min-width: $screenSizeLg) {
    width: 145px;
  }
}
