@import '../../styles/base';

$header-width: $wrapper-width;
$header-shorter-width: 1000px;
$gray-dfdfdf: #dfdfdf;
$gray-d9d9d9: #d9d9d9;
$black-a02: rgba(0, 0, 0, 0.2);
$news-list-bg-color: #f7f8fa;
$news-list-link-color: $gray-545454;
$_news-list-opacity: 0.96;
$_news-list-width: 310px;
$_news-list-padding-vertical: 5px;
$_news-list-padding-horizontal: 0;
$_news-list-title-height: 45px;
$_news-list-link-height: 35px;
$_popup-nav-width: 120px;
$_1280-popup-nav-width: $_popup-nav-width - 8px;

$_cat-nav-item-hover-bgcolor: $gray-545454;
$_cat-nav-sub-item-color: $gray-545454;
$_cat-nav-sub-item-hover-color: $white;
$_cat-nav-sub-item-hover-bgcolor: $red-e03f19;

#cnyes-header-wrapper { // sass-lint:disable-line no-ids
  background-color: $white;
  display: block;
  height: 110px;
  position: relative;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 0 0 $gray-c0c0c0;

  @extend %anue-colorful-top-bar;

  .wrapper-fixed {
    background-color: $gray-e0e0e0;
    display: block;
    height: 110px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
  }

  .main-header {
    height: 110px;
    margin: 0 auto;
    width: $header-width;

    nav {
      font: inherit;
      text-align: left;

      &:not(.cat-menu) {
        display: block;

        > div {
          cursor: pointer;
          display: inline-block;
          position: relative;
          vertical-align: bottom;
          z-index: 1;

          .with-arrow {
            background-size: cover;
            background: url('../../assets/icon-white-arrow-down.svg') center no-repeat;
            height: 3px;
            opacity: 0.6;
            position: absolute;
            right: 5px;
            top: 16px;
            width: 5px;
          }

          &:hover {
            /* popup menu mouse movement hover UX enhancement */
            &::before {
              border-left: 25px solid transparent;
              border-right: 25px solid transparent;
              border-top: 25px solid transparent;
              content: '';
              display: block;
              height: 0;
              position: absolute;
              right: -34px;
              top: 14px;
              transform: rotate(45deg);
              width: 0;
            }

            + div {
              z-index: 0;
            }
            /* end of enhancement */

            &.active > .submenu-title,
            > .submenu-title {
              font-weight: normal;
              background-color: $gray-545454;
              color: $white;
              opacity: $_news-list-opacity;
            }

            .with-arrow {
              opacity: 0;
            }

            .popup {
              display: block;
            }
          }

          > a,
          > span {
            // font-weight: 400;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            color: $gray-545454;
            display: block;
            font-size: 15px;
            line-height: 36px;
            padding: 0 17px;
            position: relative;
            will-change: background-color;

            &.is-new {
              @extend %is-new-tag;
            }
          }

          &.active {
            & > .submenu-title {
              color: $gray-1e1e1e;
              font-weight: 600;
            }

            &:not(:first-child) {
              background-color: $gray-e0e0e0;
            }

            .with-arrow {
              opacity: 0;
            }
          }

          .popup {
            background: $gray-333;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
            box-shadow: 0 3px 6px 0 rgba($black, 0.3);
            display: none;
            height: $_news-list-link-height * 10 + $_news-list-title-height + $_news-list-padding-vertical * 2;
            left: 0;
            opacity: $_news-list-opacity;
            overflow: hidden;
            position: absolute;
            top: $_news-list-link-height + 1;
            width: $_news-list-width + $_popup-nav-width;
            z-index: 100;

            .link-wrapper {
              background-color: $gray-545454;
              display: block;
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: $_popup-nav-width;

              > a {
                color: $white;
                display: block;
                font-size: 15px;
                height: $_news-list-link-height;
                padding: 7px 18px;
                position: relative;
                text-align: left;
                line-height: 22px;
                white-space: nowrap;
                will-change: background-color;

                &:not(:last-child) {
                  &::after {
                    border-bottom: 1px solid $white;
                    bottom: -2px;
                    content: '';
                    height: 1px;
                    left: 13px;
                    opacity: 0.3;
                    position: absolute;
                    width: 94px;
                  }
                }

                &:hover {
                  background-color: $_cat-nav-sub-item-hover-bgcolor;
                  transition: background-color 0.2s ease;

                  &::after {
                    opacity: 0;
                  }
                }

                &.icon-new {
                  position: relative;

                  &::after {
                    background-size: 36px 17px;
                    background: url('../../assets/icon-new.png') center no-repeat;
                    content: '';
                    display: block;
                    height: 17px;
                    position: absolute;
                    right: 0;
                    top: 12px;
                    width: 36px;
                  }
                }
              }
            }

            .news-list {
              background: $news-list-bg-color;
              display: block;
              height: 100%;
              margin-left: $_popup-nav-width;
              padding: $_news-list-padding-vertical $_news-list-padding-horizontal;
              position: relative;
              text-align: left;
              width: $_news-list-width;
              opacity: 0.94;

              h5 {
                // font-weight: 400;
                border-bottom: 1px solid $gray-d9d9d9;
                color: $black;
                display: inline-block;
                font-size: 17px;
                line-height: 2;
                margin: 0 20px 10px;
                padding-bottom: 2px;
                width: $_news-list-width - 40px;
              }

              a {
                color: $news-list-link-color;
                display: block;
                font-size: 15px;
                line-height: 35px;
                padding: 0 20px;
                text-align: left;
                @extend %text-ellipsis;

                &:hover {
                  color: $_cat-nav-sub-item-hover-color;
                  background: $_cat-nav-sub-item-hover-bgcolor;
                }
              }
            }
          }
        }
      }
    }
  }

  .header-menu {
    align-items: center;
    display: flex;
    height: 74px;
    justify-content: space-between;
    padding: 15px 0 21px;

    .logo-wrapper {
      align-items: flex-end;
      display: flex;
      text-align: center;
    }

    .logo {
      background-size: cover;
      background: url('../../assets/icon-anue-logo-colorful.svg') center no-repeat;
      display: inline-block;
      height: 39px;
      margin-right: 6px;
      margin-bottom: 1px;
      width: 118.3px;
    }

    .channel-label {
      background-color: $red-e03f19;
      border-radius: 2px;
      color: $white;
      display: inline-block;
      font-size: 16px;
      height: 24px;
      line-height: 25px;
      padding: 0 8px;
    }

    .actions {
      color: $white;
      display: flex;
      padding-top: 12px;
    }

    .user-nav {
      font: inherit;

      li {
        font: inherit;
        display: inline-block;
        height: 26px;
        line-height: 26px;
      }

      a {
        color: $black;
        font-size: 13px;
        padding: 0 10px;

        &:hover {
          color: $gray-545454;
        }
      }

      li + li > a {
        border-left: $white solid 1px;
      }
    }
  }

  .header-search {
    margin-left: 19px;
    position: relative;

    input {
      background-color: $gray-eeeeee;
      border-radius: 14px;
      border: 1px solid $black;
      color: $black;
      display: inline-block;
      font-size: 13px;
      height: 26px;
      line-height: 2;
      padding: 0 12px;
      width: 220px;

      &::placeholder {
        color: $black;
      }
    }

    button {
      background-size: cover;
      background: url('../../assets/icon-white-search.svg') center no-repeat;
      border: 0;
      cursor: pointer;
      height: 12px;
      position: absolute;
      right: 9px;
      top: 8px;
      width: 12px;
    }
  }

  .subheader-wrapper {
    background-color: $gray-e0e0e0;
    border-bottom: 1px solid $gray-d8d8d8;
    height: 38px;
    min-width: 100%;

    &.fixed {
      background-color: transparent;
      border-color: transparent;
    }
  }

  .sub-header {
    margin: 0 auto;
    // workaround, 裡面元件的總寬度符合設計的規格但比預計的超過一些, 使用 nowrap 不換行
    white-space: nowrap;
    width: $header-width;

    &.fixed {
      background-color: $gray-e0e0e0;
      display: block;
      opacity: 1;
      position: fixed;
      top: 0;
      transform: translateY(0);
      transition: transform 0.15s ease-in-out;
      width: 100%;
      will-change: opacity;
      z-index: 100;

      .cat-menu {
        background-color: $gray-e0e0e0;
        border-bottom-color: transparent;
        margin: 0 auto;
        width: $header-width;
        opacity: $_news-list-opacity;

        .cat-nav-item {
          &:hover {
            > a {
              &.with-arrow {
                color: $white;
                background-color: $_cat-nav-item-hover-bgcolor;
              }
            }
          }

          > a {
            color: $gray-1e1e1e;
            will-change: background;

            &.active,
            &:hover {
              background-color: $gray-545454;
              color: $white;
            }

            &.active {
              background-color: $white;
              border-color: transparent;
              color: $red-e03f19;
              font-weight: bold;

              &:hover {
                background-color: $gray-545454;
                color: $white;
              }
            }
          }

          > .cat-nav-sub-item {
            > a {
              color: $white;
              background-color: $_cat-nav-item-hover-bgcolor;

              &:hover {
                background-color: $_cat-nav-sub-item-hover-bgcolor;
                color: $_cat-nav-sub-item-hover-color;
              }
            }
          }
        }


      }
    }

    &.hide {
      opacity: 0;
      transform: translateY(-100%);
      z-index: -1;
    }

    .cat-menu {
      > .cat-nav-item {
        color: $gray-686868;
        display: inline-block;
        font-size: 14px;
        line-height: 36px;
        position: relative;
        vertical-align: top;
        will-change: backgroud-color;

        &:hover {
          > a {
            color: $red-e03f19;

            &.with-arrow {
              background-color: $news-list-bg-color;
              box-shadow: 0 3px 4px 0 $black-a04;
              transition: background-color 0.15s ease-in-out;

              &.active {
                border-color: transparent;
              }

              &::after {
                opacity: 0;
              }
            }
          }

          > .cat-nav-sub-item {
            display: block;
          }
        }

        > a {
          border-bottom: 2px solid transparent;
          color: $gray-686868;
          display: inline-block;
          font-size: 14px;
          line-height: 36px;
          padding: 0 15px;
          position: relative;
          vertical-align: top;
          will-change: border-color;

          &.active {
            border-color: $red-e03f19;
          }

          &.with-arrow {
            &::after {
              background-size: cover;
              background: url('../../assets/icon-black-arrow-down.svg') center no-repeat;
              content: '';
              height: 3px;
              opacity: 0.6;
              position: absolute;
              right: 5px;
              top: 16px;
              width: 5px;
            }
          }

          &.is-new {
            @extend %is-new-tag;
          }
        }

        // 子選單的子選單
        > .cat-nav-sub-item {
          background-color: $news-list-bg-color;
          box-shadow: 0 3px 6px 0 $black-a02;
          display: none;
          position: absolute;
          opacity: $_news-list-opacity;

          > a {
            color: $_cat-nav-sub-item-color;
            display: block;
            font-size: 14px;
            line-height: 36px;
            padding: 0 15px;
            text-align: left;
            white-space: nowrap;

            &:hover {
              background-color: $_cat-nav-sub-item-hover-bgcolor;
              color: $_cat-nav-sub-item-hover-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  #cnyes-header-wrapper { // sass-lint:disable-line no-ids
    .main-header {
      width: $header-shorter-width;

      nav {
        &:not(.cat-menu) {
          > div {
            > a,
            > span {
              padding: 0 15px;
            }
          }
        }
      }
    }

    .sub-header {
      width: $header-shorter-width;
    }
  }
}
