#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._3LfcX a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div > a._2H_kF::after,
#_2SRO2 ._1Jtol nav:not(._GG7q8) > div > span._2H_kF::after, #_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._2H_kF::after {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

#_2SRO2:after {
  content: '';
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #54b5c6 60%, #e03f19 60%, #e03f19 90%, #ffb43e 90%);
  z-index: 2;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div > a._2H_kF,
#_2SRO2 ._1Jtol nav:not(._GG7q8) > div > span._2H_kF, #_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._2H_kF {
  padding-right: 45px;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div > a._2H_kF::after,
#_2SRO2 ._1Jtol nav:not(._GG7q8) > div > span._2H_kF::after, #_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._2H_kF::after {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/5d6ac781ac2672ca83a594041dcdd43c.svg) center no-repeat;
  content: '';
  display: block;
  height: 16px;
  right: 10px;
  width: 30px;
}

#_2SRO2 {
  background-color: #fff;
  display: block;
  height: 110px;
  position: relative;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 0 0 #c0c0c0;
}

#_2SRO2 ._1GCgR {
  background-color: #e0e0e0;
  display: block;
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

#_2SRO2 ._1Jtol {
  height: 110px;
  margin: 0 auto;
  width: 1200px;
}

#_2SRO2 ._1Jtol nav {
  font: inherit;
  text-align: left;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) {
  display: block;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div {
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  z-index: 1;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._37HAC {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/71ebd68b8df9e895a44be18f5b4a10f8.svg) center no-repeat;
  height: 3px;
  opacity: 0.6;
  position: absolute;
  right: 5px;
  top: 16px;
  width: 5px;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div:hover {
  /* popup menu mouse movement hover UX enhancement */
  /* end of enhancement */
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div:hover::before {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: -34px;
  top: 14px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  width: 0;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div:hover + div {
  z-index: 0;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div:hover._1Z5Aq > ._2jyB4,
#_2SRO2 ._1Jtol nav:not(._GG7q8) > div:hover > ._2jyB4 {
  font-weight: normal;
  background-color: #545454;
  color: #fff;
  opacity: 0.96;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div:hover ._37HAC {
  opacity: 0;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div:hover ._1APmD {
  display: block;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div > a,
#_2SRO2 ._1Jtol nav:not(._GG7q8) > div > span {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #545454;
  display: block;
  font-size: 15px;
  line-height: 36px;
  padding: 0 17px;
  position: relative;
  will-change: background-color;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div._1Z5Aq > ._2jyB4 {
  color: #1e1e1e;
  font-weight: 600;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div._1Z5Aq:not(:first-child) {
  background-color: #e0e0e0;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div._1Z5Aq ._37HAC {
  opacity: 0;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD {
  background: #333;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  display: none;
  height: 405px;
  left: 0;
  opacity: 0.96;
  overflow: hidden;
  position: absolute;
  top: 36px;
  width: 430px;
  z-index: 100;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._2JnIo {
  background-color: #545454;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._2JnIo > a {
  color: #fff;
  display: block;
  font-size: 15px;
  height: 35px;
  padding: 7px 18px;
  position: relative;
  text-align: left;
  line-height: 22px;
  white-space: nowrap;
  will-change: background-color;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._2JnIo > a:not(:last-child)::after {
  border-bottom: 1px solid #fff;
  bottom: -2px;
  content: '';
  height: 1px;
  left: 13px;
  opacity: 0.3;
  position: absolute;
  width: 94px;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._2JnIo > a:hover {
  background-color: #e03f19;
  transition: background-color 0.2s ease;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._2JnIo > a:hover::after {
  opacity: 0;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._2JnIo > a._2TGF6 {
  position: relative;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._2JnIo > a._2TGF6::after {
  background-size: 36px 17px;
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/9f49bd4744c21221beb6dc688fa7a964.png) center no-repeat;
  content: '';
  display: block;
  height: 17px;
  position: absolute;
  right: 0;
  top: 12px;
  width: 36px;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._3LfcX {
  background: #f7f8fa;
  display: block;
  height: 100%;
  margin-left: 120px;
  padding: 5px 0;
  position: relative;
  text-align: left;
  width: 310px;
  opacity: 0.94;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._3LfcX h5 {
  border-bottom: 1px solid #d9d9d9;
  color: #000;
  display: inline-block;
  font-size: 17px;
  line-height: 2;
  margin: 0 20px 10px;
  padding-bottom: 2px;
  width: 270px;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._3LfcX a {
  color: #545454;
  display: block;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  text-align: left;
}

#_2SRO2 ._1Jtol nav:not(._GG7q8) > div ._1APmD ._3LfcX a:hover {
  color: #fff;
  background: #e03f19;
}

#_2SRO2 ._26crt {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 74px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 0 21px;
}

#_2SRO2 ._26crt ._g8UAG {
  -ms-flex-align: end;
      align-items: flex-end;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#_2SRO2 ._26crt ._1AtfL {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/63c80dd747735976c88de53a647f8ffe.svg) center no-repeat;
  display: inline-block;
  height: 39px;
  margin-right: 6px;
  margin-bottom: 1px;
  width: 118.3px;
}

#_2SRO2 ._26crt ._3lW78 {
  background-color: #e03f19;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 24px;
  line-height: 25px;
  padding: 0 8px;
}

#_2SRO2 ._26crt ._3nBCF {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
}

#_2SRO2 ._26crt ._swV7A {
  font: inherit;
}

#_2SRO2 ._26crt ._swV7A li {
  font: inherit;
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

#_2SRO2 ._26crt ._swV7A a {
  color: #000;
  font-size: 13px;
  padding: 0 10px;
}

#_2SRO2 ._26crt ._swV7A a:hover {
  color: #545454;
}

#_2SRO2 ._26crt ._swV7A li + li > a {
  border-left: #fff solid 1px;
}

#_2SRO2 ._34URG {
  margin-left: 19px;
  position: relative;
}

#_2SRO2 ._34URG input {
  background-color: #eeeeee;
  border-radius: 14px;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font-size: 13px;
  height: 26px;
  line-height: 2;
  padding: 0 12px;
  width: 220px;
}

#_2SRO2 ._34URG input::-webkit-input-placeholder {
  color: #000;
}

#_2SRO2 ._34URG input:-ms-input-placeholder {
  color: #000;
}

#_2SRO2 ._34URG input::placeholder {
  color: #000;
}

#_2SRO2 ._34URG button {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/4b3f19ffc01685780823d0f3dc731cac.svg) center no-repeat;
  border: 0;
  cursor: pointer;
  height: 12px;
  position: absolute;
  right: 9px;
  top: 8px;
  width: 12px;
}

#_2SRO2 ._3Acd3 {
  background-color: #e0e0e0;
  border-bottom: 1px solid #d8d8d8;
  height: 38px;
  min-width: 100%;
}

#_2SRO2 ._3Acd3._3ulCb {
  background-color: transparent;
  border-color: transparent;
}

#_2SRO2 ._2aFMd {
  margin: 0 auto;
  white-space: nowrap;
  width: 1200px;
}

#_2SRO2 ._2aFMd._3ulCb {
  background-color: #e0e0e0;
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: transform 0.15s ease-in-out;
  width: 100%;
  will-change: opacity;
  z-index: 100;
}

#_2SRO2 ._2aFMd._3ulCb ._GG7q8 {
  background-color: #e0e0e0;
  border-bottom-color: transparent;
  margin: 0 auto;
  width: 1200px;
  opacity: 0.96;
}

#_2SRO2 ._2aFMd._3ulCb ._GG7q8 ._1wbxF:hover > a._37HAC {
  color: #fff;
  background-color: #545454;
}

#_2SRO2 ._2aFMd._3ulCb ._GG7q8 ._1wbxF > a {
  color: #1e1e1e;
  will-change: background;
}

#_2SRO2 ._2aFMd._3ulCb ._GG7q8 ._1wbxF > a._1Z5Aq, #_2SRO2 ._2aFMd._3ulCb ._GG7q8 ._1wbxF > a:hover {
  background-color: #545454;
  color: #fff;
}

#_2SRO2 ._2aFMd._3ulCb ._GG7q8 ._1wbxF > a._1Z5Aq {
  background-color: #fff;
  border-color: transparent;
  color: #e03f19;
  font-weight: bold;
}

#_2SRO2 ._2aFMd._3ulCb ._GG7q8 ._1wbxF > a._1Z5Aq:hover {
  background-color: #545454;
  color: #fff;
}

#_2SRO2 ._2aFMd._3ulCb ._GG7q8 ._1wbxF > ._1MKPP > a {
  color: #fff;
  background-color: #545454;
}

#_2SRO2 ._2aFMd._3ulCb ._GG7q8 ._1wbxF > ._1MKPP > a:hover {
  background-color: #e03f19;
  color: #fff;
}

#_2SRO2 ._2aFMd._3NyqV {
  opacity: 0;
  -ms-transform: translateY(-100%);
      transform: translateY(-100%);
  z-index: -1;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF {
  color: #686868;
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  position: relative;
  vertical-align: top;
  will-change: backgroud-color;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a {
  color: #e03f19;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a._37HAC {
  background-color: #f7f8fa;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  transition: background-color 0.15s ease-in-out;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a._37HAC._1Z5Aq {
  border-color: transparent;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a._37HAC::after {
  opacity: 0;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > ._1MKPP {
  display: block;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a {
  border-bottom: 2px solid transparent;
  color: #686868;
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  padding: 0 15px;
  position: relative;
  vertical-align: top;
  will-change: border-color;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._1Z5Aq {
  border-color: #e03f19;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._37HAC::after {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/934f74cbbeb0bf6adbd98a255e151589.svg) center no-repeat;
  content: '';
  height: 3px;
  opacity: 0.6;
  position: absolute;
  right: 5px;
  top: 16px;
  width: 5px;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > ._1MKPP {
  background-color: #f7f8fa;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  opacity: 0.96;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > ._1MKPP > a {
  color: #545454;
  display: block;
  font-size: 14px;
  line-height: 36px;
  padding: 0 15px;
  text-align: left;
  white-space: nowrap;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > ._1MKPP > a:hover {
  background-color: #e03f19;
  color: #fff;
}

@media only screen and (max-width: 1300px) {
  #_2SRO2 ._1Jtol {
    width: 1000px;
  }
  #_2SRO2 ._1Jtol nav:not(._GG7q8) > div > a,
  #_2SRO2 ._1Jtol nav:not(._GG7q8) > div > span {
    padding: 0 15px;
  }
  #_2SRO2 ._2aFMd {
    width: 1000px;
  }
}
._2bxpv ._2QWCc {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

@keyframes _t5xeh {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: -100% 0;
  }
}

._2Y72q {
  width: 100%;
}

._2bxpv {
  display: block;
  position: relative;
  background: #fff;
  height: 36px;
  border-bottom: 1px solid rgba(152, 152, 152, 0.2);
  width: 100%;
  padding: 0 20px;
  padding-left: 98px;
}

._2bxpv ._2QWCc {
  display: block;
  position: absolute;
  left: 0;
  background: #f6f7f8;
  background-image: -webkit-linear-gradient(left, #f6f6f6 0%, #edeef1 20%, #f6f6f6 40%, #f6f6f6 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  /* padding: 98px, cover width: 106px, margin to cover: 15px + 40px; */
  width: 100%;
  height: 15px;
  z-index: 2;
}
