@import '../styles/_common.scss';

.fundsyes-contract-page {
  @extend %reset;
  @extend %pageStyle;

  .contract-title {
    margin-bottom: 40px;
    text-align: center;
  }

  .contract {
    margin-bottom: 45px;
    padding: 16px;

    @media only screen and (min-width: 1024px) {
      padding: 0;
    }

    .contract-body {
      border: solid 1px #c0c0c0;
      padding: 24px;

      * {
        line-height: 1.5;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }

      > * {
        margin-bottom: 24px;
        color: #545454;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .contract-checkbox-wrapper {
    margin-bottom: 30px;
    text-align: center;

    .contract-checkbox {
      font-size: 14px;
      line-height: 20px;
    }

    input {
      vertical-align: middle;
    }
  }

  .contract-submit-button {
    display: block;
    margin: 0 auto;
    width: 250px;
  }
}
