@keyframes _3NB-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

._MXx3I {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.4);
  animation: _3NB-2 0.2s linear forwards;
}

._29Mdb {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background-color: #fff;
}

._29Mdb ._1y-kA {
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 13px;
  height: 13px;
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/977cc3e656d39b232ae220ae00db9b9c.svg) center no-repeat;
  background-size: 13px 13px;
  cursor: pointer;
  z-index: 999;
}
._eFJnb {
  display: block;
  position: relative;
  width: 320px;
  height: 320px;
  padding: 36px 40px 30px;
}

._eFJnb h2 {
  font-size: 20px;
  font-weight: normal;
  width: 100%;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 30px;
}

._eFJnb ._3zioM {
  margin-top: 8px;
  font-size: 14px;
  line-height: 22px;
}

._eFJnb ._3zioM p {
  letter-spacing: 1px;
}

._eFJnb ._3ygvl {
  color: #e95e6f;
}

._eFJnb ._2gRbk, ._eFJnb ._Q6gsH {
  display: block;
  width: 240px;
  height: 40px;
  background-size: 240px 40px;
  margin-bottom: 24px;
  cursor: pointer;
}

._eFJnb ._2gRbk {
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/39f332117374589e0b2cea85cf5e4eb6.svg) center no-repeat;
}

._eFJnb ._Q6gsH {
  background: url(https://sfiles.cnyes.cool/fe-common/98cd59ea59/13ac8f9eaea0923faadfbddc9a1cf56b.svg) center no-repeat;
}
