@import '../../styles/base';

.login-modal-wrapper {
  display: block;
  position: relative;
  width: 320px;
  height: 320px;
  padding: 36px 40px 30px;

  h2 {
    font-size: 20px;
    font-weight: normal;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer {
    margin-top: 8px;
    font-size: 14px;
    line-height: 22px;

    p {
      letter-spacing: 1px;
    }
  }

  .agreement {
    color: $flat-red;
  }

  %button {
    display: block;
    width: 240px;
    height: 40px;
    background-size: 240px 40px;
    margin-bottom: 24px;
    cursor: pointer;
  }

  .login-button-facebook {
    @extend %button;
    background: url('./icon-login-facebook.svg') center no-repeat;
  }

  .login-button-google {
    @extend %button;
    background: url('./icon-login-google.svg') center no-repeat;
  }
}
