@import '../styles/_common.scss';

.fundsyes-old-driver-header {
  @extend %reset;
  background-color: black;

  .header-content-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 14px 24px;
  }

  .logo {
    display: block;
    width: 170px;
    height: 29px;
    background: transparent url('../../../assets/icon-fundsyes-logo.svg') center / 170px 29px no-repeat;
  }
}
